<div class="home-container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="text-center">
          <img alt="Angular2" class="img-responsive center-block home-logo" src="assets/img/angular.svg" />
        </div>
      </div>
      <div class="col-lg-9 col-md-8 home-text">
        <h1>{{user.name}}</h1>
        <p>Bootstrap Admin Template + <strong>Angular2</strong>
          <br> <small>One framework. Mobile & desktop.</small>
        </p>
        <p><a class="btn btn-primary btn-lg"  target="_blank">Learn more</a></p>
        <button (click)="gohello()">go hello</button>
      </div>
    </div>
  </div>
</div>
